.App {
  text-align: center;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 3;
}

.main {
  height: 100Vh;
  min-width: 100%;
  background-size: cover;
}
.chart{
  margin-top: 1px;
  margin-bottom: 10px;
}
.disclaimer{
  font-style: italic;
  margin-top: 2px;
}
.logo {
  padding: 20% 0 0 0;
}

.button {
    margin: 5px;
}

.official_source {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.statesInfo {
  display: block;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

body {
    font-family: 'Open Sans', sans-serif
}
.heading {
    font-weight: 700;
}
.subheading {
    font-weight: 300;
}

.division {
    box-sizing: content-box;
    display: block;
    margin: 0 0 0 0;
    position: relative;
    z-index: 1;
}

.personal {
    /* background-color: #B2EBF2; */
    background: -webkit-linear-gradient(233deg, #4DD0E1, #00695C); color: rgb(255, 255, 255);
    padding: 2% 0 2% 0;
    height: 50vh;
    min-width: 100%;
    background-size: cover;
    z-index: 2;
    position: relative;
}

.community {
    /* background-color: #80DEEA; */
    background: -webkit-linear-gradient(233deg, #4DD0E1, #00695C); color: rgb(255, 255, 255);
    padding: 2% 0 2% 0;
    height: 50vh;
    min-width: 100%;
    background-size: cover;
}

.tweets {
    box-sizing: content-box;
    display: block;
    margin: 0 0 0 0;
    background-color: #ffffff;
    padding: 2% 0 2% 0;
    min-width: 100%;
    background-size: cover;
}

.statesInfo {
    background: -webkit-linear-gradient(233deg, #4DD0E1, #00695C);
    color: white;
    padding-bottom: 8%;
    margin-top: 5%;
}

.CircularProgress {

}

.snow {
  position: relative;
  z-index: 999;
}
.footer {
    background: -webkit-linear-gradient(233deg, #4DD0E1, #00695C);
    color: rgb(255, 255, 255);
    padding: 2% 0 0 0;
    margin-bottom: 0;
    height: 10vh;
    min-width: 100%;
    background-size: cover;
}

.guage {

}

.recharts-wrapper {
  margin: auto;
  width: 600px;
  height: 280px;
}

.pain {
    height: 80px;
}

.prescription {
    height: 80px;
}

.like {
    height: 20px;
}

.infected {
    display: block;
    align-items: center;
}


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(1080deg); }
}
