.pin {
    height: 20px;
    margin-right: 1%;
    margin-top: 1%;
}

.call {
    height: 20px;
    margin-right: 1%;
    margin-top: 1%;
}

.doctor {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(227, 227, 227);
    margin-right: 5%;
    margin-bottom: 2%;
    margin: 2% 1% 2% 1%;
    width: 45%;
    background: -webkit-linear-gradient(233deg, #4DD0E1, #00695C);
    color: rgb(255, 255, 255);
}
