.feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 65vh;
    overflow: scroll;
    border-radius: 5px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-width: 0.5px;
    margin: 2% 5% 0 5%;
}
