blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.5px;
  padding: 0 16px 16px 16px;
  text-align: left;
  width: 90%;
}

blockquote.twitter-tweet p {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.5em;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
  font-size: 1.5em;
  float: left;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.bird {
    height: 20px;
}
